@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bytesized&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
.paletaColorPrimario {
  color: #1C3A48;
}

.paletaColorSecundario {
  color: #1D4A69;
}

.paletaColorTercero {
  color: #347583;
}

.paletaColorCuarto {
  color: #5195BB;
}

.paletaColorTitulo {
  color: #212f3d;
}

html {
  color: #212f3d;
  font-family: "Roboto", sans-serif;
  padding: 5px;
}

h1 {
  font-size: 4vh;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

p {
  text-align: justify;
}

.img-radius {
  border-radius: 15px;
  /* Radio de las esquinas de la imagen */
  width: 100%;
  /* Ajusta el ancho de la imagen según sea necesario */
  height: auto;
  /* Mantiene la proporción de la imagen */
}

body {
  background-color: #39E0EA;
}
body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
body header nav {
  flex: 1;
  /* Permitir que el menú use el espacio restante */
}
body header nav .containerLogo {
  flex: 0 0 auto;
}
body header nav .logo {
  background: url(../image/FBLogo.jpg);
  background-color: white;
  background-position: center;
  border-radius: 50%;
  background-size: 90%;
  background-repeat: no-repeat;
  border: 1px solid #000;
  width: 150px;
  height: 150px;
  margin: 2vh;
}
body header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  align-items: center;
  border-radius: 5px;
  display: flex;
  /* Usar flexbox para el menú */
  list-style: none;
  /* Quitar los puntos de la lista */
  padding: 0;
  /* Quitar el padding */
  margin: 0;
  /* Quitar el margin */
}
body header nav ul li {
  margin: 0 15px;
  font-family: "Winky Sans", sans-serif;
}
body header nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
body header nav ul li a:hover {
  background-color: #111;
}
body header nav ul li.active a {
  font-weight: bold;
}
body header nav ul .active {
  background-color: #04AA6D;
}
body header nav .navbar-dark .navbar-toggler {
  background-color: black; /* Color de fondo del botón */
  border-color: black; /* Color del borde del botón */
}
@media (max-width: 480px) {
  body header {
    flex-direction: column;
  }
}
body main .parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 10px;
}
body main .parent .img-presen-section,
body main .parent .video-presen-section {
  display: flex;
  /* Usar flexbox para alinear imagen y texto */
  align-items: center;
  /* Centrar verticalmente los elementos */
  margin-bottom: 20px;
  /* Espacio entre secciones */
}
body main .parent .div1 {
  grid-column: span 12/span 12;
}
body main .parent .div2 {
  grid-column: span 6/span 6;
  grid-row: span 4/span 4;
  grid-row-start: 2;
  grid-column-start: 2;
}
body main .parent .div3 {
  grid-column: span 4/span 4;
  grid-row: span 4/span 4;
  grid-column-start: 8;
  grid-row-start: 2;
}
body main .parent .div4 {
  grid-column: span 5/span 5;
  grid-row: span 3/span 3;
  grid-row-start: 7;
  grid-column-start: 3;
  margin-top: 5vh;
}
body main .parent .div5 {
  grid-column: span 5/span 5;
  grid-row: span 3/span 3;
  grid-column-start: 7;
  grid-row-start: 7;
}
body main .parent .iframe-index {
  width: 90%;
  height: 100%;
}
@media (max-width: 480px) {
  body main .parent {
    grid-template-columns: 1fr;
    /* Cambia a una sola columna */
    grid-template-rows: 12fr;
    /* Ajusta las filas automáticamente */
  }
  body main .parent .iframe-index {
    width: 100%;
    height: 50vh;
  }
  body main .parent .div1,
  body main .parent .div2,
  body main .parent .div3,
  body main .parent .div4,
  body main .parent .div5 {
    grid-column: span 1;
    /* Cada div ocupa toda la columna */
    grid-row: auto;
    /* Ajusta las filas automáticamente */
    margin-top: 10px;
    /* Espaciado entre los elementos */
  }
  body main .parent .div5 {
    margin-bottom: 10vh;
    /* Espacio adicional antes de .div5 */
  }
}
body main form {
  max-width: 400px;
  /* Ancho máximo del formulario */
  margin: 0 auto;
  /* Centrar el formulario */
  padding: 20px;
  /* Espaciado interno */
}
body main label {
  display: block;
  /* Hacer que las etiquetas ocupen toda la línea */
  margin-bottom: 5px;
  /* Espaciado entre la etiqueta y el campo */
}
body main input[type=text],
body main input[type=email],
body main textarea {
  width: 100%;
  /* Ancho completo */
  padding: 8px;
  /* Espaciado interno */
  border: 1px solid #ccc;
  /* Borde del campo */
  border-radius: 4px;
  /* Bordes redondeados */
}
body main .button-container {
  text-align: center;
  /* Centrar el contenido dentro del contenedor */
  margin-top: 20px;
  /* Espacio superior para separar del contenido anterior */
}
body main button {
  background-color: #4CAF50;
  /* Color de fondo del botón */
  color: white;
  /* Color del texto del botón */
  padding: 10px 15px;
  /* Espaciado interno del botón */
  border: none;
  /* Sin borde */
  border-radius: 4px;
  /* Bordes redondeados */
  cursor: pointer;
  /* Cambiar el cursor al pasar sobre el botón */
}
body main button:hover {
  background-color: #45a049;
  /* Color de fondo al pasar el mouse */
}
body footer {
  text-align: center;
  padding: 20px;
  background-color: #5195BB;
  border-radius: 5px;
  height: 20vh;
}
body footer .containerSocialMedia {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
body footer .containerSocialMedia a {
  margin: 0 10px;
  text-decoration: none;
}
body footer .containerSocialMedia div {
  width: 30px;
  height: 30px;
  background-size: cover;
}
body footer p {
  font-family: "Roboto", sans-serif;
}
body footer .socialFb {
  background: url(../image/facebook.png);
  background-size: cover;
  width: 2rem;
  height: 2rem;
}
body footer .socialIg {
  background: url(../image/instagram.png);
  background-size: cover;
  width: 2rem;
  height: 2rem;
}
body footer .socialYt {
  background: url(../image/youtube.png);
  background-size: cover;
  width: 2rem;
  height: 2rem;
}
body footer .socialGh {
  background: url(../image/github.png);
  background-size: cover;
  width: 2rem;
  height: 2rem;
}
body footer .socialLn {
  background: url(../image/linkedin.png);
  background-size: cover;
  width: 2rem;
  height: 2rem;
}
@media (max-width: 480px) {
  body footer {
    height: 30vh;
  }
}

.navbar-dark .navbar-toggler {
  background-color: black;
  /* Color de fondo del botón */
  border-color: black;
  /* Color del borde del botón */
}

/*# sourceMappingURL=style_sass.css.map */
